/*
{
    "name": "Abyss Neptune",
    "author": "@itzzexcel",
    "description": "Abyss Neptune: ShadowX Theme from Spicetify to TIDAL (17/Jan/2025)"
}
*/

::-webkit-scrollbar {
    display: none;
}

:root {
    --wave-color-solid-accent-fill: white;
    --wave-color-solid-rainbow-yellow-fill: white;
    --wave-color-solid-contrast-fill: white;
    --wave-color-solid-base-brighter: black;
    --wave-text-body-medium: white !important;
    --track-vibrant-color: white !important;
    --wave-color-opacity-contrast-fill-ultra-thin: #fffafa1a !important;
    --wave-color-solid-rainbow-yellow-darkest: #fffafa1a !important;
    --wave-color-solid-accent-dark: rgb(128, 128, 128);
}

/* Credits to https://github.com/surfbryce for the fonts */
@font-face {
    font-family: "AbyssFont";
    font-weight: 400;
    src: url("https://excel.lexploits.top/extra/tidal/LyricsRegular.woff2") format("woff2");
}

@font-face {
    font-family: "AbyssFont";
    font-weight: 500;
    src: url("https://excel.lexploits.top/extra/tidal/LyricsMedium.woff2") format("woff2");
}

@font-face {
    font-family: "AbyssFont";
    font-weight: 600;
    src: url("https://excel.lexploits.top/extra/tidal/LyricsSemibold.woff2") format("woff2");
}

@font-face {
    font-family: "AbyssFont";
    font-weight: 700;
    src: url("https://excel.lexploits.top/extra/tidal/LyricsBold.woff2") format("woff2");
}

[class^="followingButton"],
[title="Unfollow"],
[title="Follow"],
[title="Unfollow"]>span,
[title="Follow"]>span {
    background-color: var(--wave-color-solid-rainbow-yellow-fill) !important;
    color: var(--wave-color-solid-base-brighter);
}

[class^="_wave-badge-color-max"] {
    color: black !important;
    background-color: var(--wave-color-solid-accent-fill);
    border-radius: 3px;
}

[class^="sidebarWrapper"] {
    border-right: rgb(25, 25, 25) 1px solid;
}

[class^="_wave-badge"] {
    background-color: var(--wave-color-solid-accent-fill);
    border-radius: 4px;
    color: black;
}

[class^="progressBarWrapper"] {
    color: var(--wave-color-solid-accent-fill) !important;
}

[class^="sidebarItem"]>span {
    color: var(--wave-color-solid-accent-dark);
}

[class^="sidebarItem"]:hover span {
    color: var(--wave-color-solid-contrast-fill);
}

[class^="sidebarItem"] [class^="active"]>span {
    color: var(--wave-color-solid-accent-dark) !important;
}

[class^="active"] {
    color: var(--wave-color-solid-accent-fill) !important;
}

[class^="ReactVirtualized__Grid"] {
    border-radius: 10px;
    margin: 5px;
}

[class^="ReactVirtualized__Grid__innerScrollContainer"] {
    border: none;
    margin: 5px;
}

[class^="button"]>span {
    color: black;
}

[class^="explicitBadge"] {
    color: var(--wave-color-solid-accent-fill);
}

[class^="viewAllButton"] {
    border-radius: 4px;
    display: grid;
    place-items: center;
}

[class^="blur"],
[class^="ellipse"],
[class^="gradientMax"] {
    display: none !important;
}

[data-test="current-media-imagery"] {
    border: 0 !important;
    margin: none;
}

[class^="imageBorder"] {
    display: none;
}

[class^="headerButtons"]>button,
[data-test="toggle-picture-in-picture"] {
    background-color: var(--wave-color-solid-accent-fill) !important;
    color: black;
}

[class^="container"]>[class^="navigationArrows"] {
    color: black;
    background-color: var(--wave-color-solid-accent-fill) !important;
    border-radius: 4px;
}

[class^="buttons"]>button>span {
    color: black !important;
}

[class^="container"]>button {
    border: 0px none;
}


[data-test="feed-sidebar"] {
    margin-top: 10px;
}

[class^="player"] {
    width: calc(100% - 20px);
    bottom: 10px;
    left: 10px;
    border: 1px solid rgb(25, 25, 25);
    border-radius: 4px !important;
    position: absolute !important;
}

[class^="tooltipContainer"]>button {
    background-color: var(--wave-color-solid-accent-fill);
    color: black;
}

[class^="tooltipContainer"]>button:hover {
    background-color: lightgray !important;
}

[class^="tableRow"] {
    color: rgb(170, 170, 170) !important;
}

[class^="tableRow"]:hover,
[data-test-is-playing="true"] {
    color: var(--wave-color-solid-accent-fill) !important;
}

[class^="actionList"] {
    background-color: transparent;
    margin: 0px;
    border-radius: 5px;
}

button[data-test="request-fullscreen"],
button[data-test="close-now-playing"],
button[data-test="play-all"],
button[data-test="shuffle-all"] {
    color: black;
    background-color: var(--wave-color-solid-accent-fill);
    border-radius: 12px;
}

button[data-test="request-fullscreen"]:hover,
button[data-test="close-now-playing"]:hover {
    color: black;
    background-color: lightgray !important;
}

.neptune-switch-checkbox:checked+.neptune-switch {
    background-color: rgba(255, 255, 255, 0.1);
}

[data-test="navigation-arrows"]>button {
    background-color: var(--wave-color-solid-accent-fill) !important;
    color: black !important;
    border-radius: 5px;
}

[data-test="navigation-arrows"]>button:disabled {
    background-color: lightgray !important;
    opacity: 1;
}

[data-test="main-layout-header"],
[data-test="feed-sidebar"],
[data-test="stream-metadata"],
[class^="player"] {
    background-color: rgba(0, 0, 0, 0.8) !important;
    backdrop-filter: blur(10px);
    border: 1px solid var(--wave-color-opacity-contrast-fill-ultra-thin) !important;
}


[class^="contextMenu"] {
    border: 1px solid var(--wave-color-opacity-contrast-fill-ultra-thin) !important;
    background-color: rgba(0, 0, 0) !important;
}

[data-wave-color=textUrl] {
    color: var(--wave-color-solid-accent-fill);
}

[class^="smallHeader"] {
    margin-top: 7.5px;
}

[data-test="play-all"]>div>*,
[data-test="shuffle-all"]>div>*,
[data-test="play-all"],
[data-test="shuffle-all"] {
    color: var(--wave-color-solid-accent-fill) !important;
    background-color: transparent !important;
}

[class^="__NEPTUNE_PAGE"],
[data-test="main"] {
    margin-top: 35px;
}

[data-test="button-desktop-release-notes"],
[data-test="button-release-notes"] {
    background-color: white;
}

[data-test="button-desktop-release-notes"]:hover,
[data-test="button-release-notes"]:hover {
    background-color: lightgray !important;
    transition: none !important;
}

#playQueueSidebar {
    top: 50px !important;
    border: 1px solid var(--wave-color-opacity-contrast-fill-ultra-thin);
    margin: 2px;
    margin-right: -14px !important;
    background-color: rgba(0, 0, 0, 0.8) !important;
    backdrop-filter: blur(10px);
}

[data-test="now-playing-track-title"] {
    text-shadow: 0 0 1px #fff, 0 0 30px #fff;
}

[class^="bottomGradient"] {
    visibility: hidden;
}

[aria-label="Show credits"] {
    top: calc(var(--headerHeight) + 80px);
}

[data-current] {
    transition: text-shadow 0.7s ease-in-out, text-shadow 0.7s ease-in-out padding 0.7s ease-in-out;
}

[data-current="true"] {
    text-shadow: 0 0 2px #fff, 0 0 20px #fff;
    padding-left: 20px;
    transition-duration: 0.7s;
}

[data-current="false"] {
    text-shadow: 0 0 0px transparent, 0 0 0px transparent;
    transition-duration: 0.25s;
    color: rgba(128, 128, 128, 0.4);
    
}

[data-current="false"]:hover {
    text-shadow: 0 0 2px lightgray, 0 0 20px lightgray;
    color: lightgray;
    padding-left: 20px;
    transition-duration: 0.7s;
}

[class^="lyricsContainer"]>div>div>span {
    margin-bottom: 2rem;
    opacity: 1;
    font-family: "AbyssFont", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 43px !important;
}

[class^="lyricsProvider"] {
    visibility: hidden;
}

[class^="syncButton"] {
    margin-bottom: 10px;
}

[data-test="settings-page"] {
    padding-bottom: 60px !important;
}

[data-test="query-suggestions"], [data-test="recent-searches-container"] {
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
}